In [1]:
pip install joblib

Requirement already satisfied: joblib in c:\users\siri\anaconda3\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold,cross_val_score
from sklearn.preprocessing import StandardScaler
import joblib
from sklearn.model_selection import train_test_split

In [5]:
dia=pd.read_csv("diabetes.csv")
dia

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [6]:
X=dia.drop('class',axis=1)
Y=dia['class']

In [7]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [8]:
model=DecisionTreeClassifier(random_state=42)
kf=KFold(n_splits=5,shuffle=True,random_state=42)
scores=cross_val_score(model,X_scaled,Y,cv=kf)
print("cross-validation scores:",scores)
print("mean accuracy:",scores.mean())

cross-validation scores: [0.74675325 0.72077922 0.71428571 0.7254902  0.7254902 ]
mean accuracy: 0.7265597147950089

In [10]:
#Train final model
model.fit(X_scaled,Y)
#save model and scaler
joblib.dump(model,'model.pkl')
joblib.dump(scaler,'scaler.pkl')

['scaler.pkl']

In [11]:
x=dia.iloc[:,0:4]
y=dia['class']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 1)
x_train

     preg  plas  pres  skin
88     15   136    70    32
467     0    97    64    36
550     1   116    70    28
147     2   106    64    35
481     0   123    88    37
..    ...   ...   ...   ...
645     2   157    74    35
715     7   187    50    33
72     13   126    90     0
235     4   171    72     0
37      9   102    76    37

[537 rows x 4 columns]

In [3]:
# train_model.py
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import pickle

df = pd.read_csv('diabetes.csv')
X = df.drop('class', axis=1)
y = df['class']

model = RandomForestClassifier()
model.fit(X, y)

with open('diabetes_model.pkl', 'wb') as f:
    pickle.dump(model, f)